
.icon-tags:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-palette:before { content: '\e802'; } /* '' */
.icon-book-open:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-chart-alt:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-layers:before { content: '\e807'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\f30d'; } /* '' */